
  

#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label {  
    font-size:15px;  
    margin-bottom:2px;  
}  
  
#contact-form input,   
#contact-form select,   
#contact-form textarea {  
    width:450px;  
    border: 1px solid #c8c2c2;  
    margin-bottom:20px;  
    padding:4px;  
}

#contact-form select {
color: #676767;
}  

#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
    border: 1px solid #676767;  
    background-color: #f0eded;
}  
  
#contact-form textarea {  
    height:150px;  
    resize: none;  
}  
  
#contact-form label {  
    display:block;  
}  
  
#contact-form .required {  
    font-weight:bold;  
    color:#F00;      
}  
  
#contact-form #submit {  
    width: 100px;  
    background-color:#333;  
    color:#FFF;  
    border:none;  
    display:block;  
    float: right right;  
    margin-bottom:0px;  
    margin-right:6px;  
    background-color:#676767;  
    -moz-border-radius:8px;  
}  
  
#contact-form #submit:hover {  
    background-color:  #808080;  
}  
  
#contact-form #submit:active {  
    position:relative;  
    top:1px;  
}  
 
#success {  
    border:solid 1px #83D186;  
    padding:25px 10px;  
    margin:25px 0px;  
    display:block;  
    width:437px;  
    -webkit-border-radius:8px;  
    -moz-border-radius:8px;  
    border-radius:8px;  
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;  
    font-weight:bold;  
    display:none;  
}  
  
#errors.visible, #success.visible {  
    display:block;      
}  
  
#req-field-desc {  
    font-style:italic;  
}  
  
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */  
input:required, textarea:required {  
    -moz-box-shadow:none;  
    -webkit-box-shadow:none;  
    -o-box-shadow:none;  
    box-shadow:none;  
}  
  
/* Normalize placeholder styles */  
  
/* chrome, safari */  
::-webkit-input-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
  
/* mozilla */  
input:-moz-placeholder, textarea:-moz-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
  
/* ie (faux placeholder) */  
input.placeholder-text, textarea.placeholder-text  {   
    color:#CCC;  
    font-style:italic;  
}