/* Typography and Base Color
-------------------------------------------------- */

body {
    padding-bottom:0;
    margin-bottom: 0;
    color: #5a5a5a;
}

a, a:link {
    color:#aa0000;
}

a:hover, a:focus {
    color:#be0f34;
}

body,p,a,ul,ol,
h1,h2,h3,h4,h5,h6,input,pre {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color:#333;
}

.btn-link { color:#8F0018; }
.btn-link:hover, .btn-link:hover i { color:#AF0001; }


/* Skip Link
-------------------------------------------------- */

#skip a, #skip a:hover, #skip a:visited {
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip a:active, #skip a:focus {
    position:static;
    width:auto;
    height:auto;
}


/* HEADER
-------------------------------------------------- */

#header-bg {
    background-color: #f7f7f7;
    position: absolute;
    top:-53px;
    left:0;
    width: 100%;
    z-index: -10;

    height:250px;
}

#opener {
    z-index: 1050;
    position: relative;
}

#opener .brand {
    font-size:0;
    color:#a2151f;
    display: block;
    width: 100%;
    height:100px;
    position: relative;
    top:0;
    box-shadow: none;
    background: #a2151f; /* Old browsers */
    background: -moz-radial-gradient(top, #a2151f 0%, #8f0222 30%, #600a11 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, left top, left bottom, color-stop(0%,#a2151f), color-stop(44%,#8f0222), color-stop(100%,#600a11)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(top, #a2151f 0%,#8f0222 30%,#600a11 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(top, #a2151f 0%,#8f0222 30%,#600a11 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(top, #a2151f 0%,#8f0222 30%,#600a11 100%); /* IE10+ */
    background: radial-gradient(to bottom, #a2151f 0%,#8f0222 30%,#600a11 100%); /* W3C */

}

#opener .brand:before {
    content: "";
    background: url("/_resources/img/logo-mobile.png") center center no-repeat;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    display: block;
}

#global-dropdown {
    position: absolute;
    top:5px;
    margin: 0 auto;
    right:0;
    width: 36px;
    display: block;
}

#global-dropdown .dropdown-toggle {
    border:1px solid #d8d8d8;
    background-color: #b3b3b3;
    color:#fff;
    padding:6px 7px 6px 7px;
}

#global-dropdown a:hover, #global-dropdown a:active, #global-dropdown a:focus {
    text-decoration: none;
    background-color:#666;
    border-bottom: none;
}

#global-dropdown .dropdown-menu {
    left: -254px;
    top: 21px;
    border-radius: 0 0 0 0;
    min-width: 250px;
    width: 290px;
    padding-top: 0;
}

#global-dropdown .dropdown-menu > li {
    width:133px;
    margin-left: 5px;
    float: left;
}

#global-dropdown .dropdown-menu .nav-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 13px;
    padding-top: 8px;
}

#global-dropdown .dropdown-menu > li > a:hover {
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a90329 0%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a90329 0%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a90329 0%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a90329 0%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

#search-stack {
    position: relative;
    top: -10px;
    margin:0 auto 5px;
    right:0px;
}

#search-stack form input {
    float: right;
    overflow: hidden;
    border: none;
    padding: 4px 0px 4px 5px;
    width: 250px;
    color: #6d6d6d;
    border-radius: 0;
    border: 1px solid #dbdbdb;
    margin-right:36px;
    background-color:#f3f3f5;
}

#search-stack form input:focus {
    box-shadow: 0 0 5px rgba(60, 60, 60, 0.6);
}

#search-stack form button:hover:before, #search-stack form button:focus:before{
    color:#333;
}

#search-stack form button {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 4px;
    background: none;
}

#search-stack form button:before {
    font-family: 'FontAwesome';
    content: "\f002";
    font-size: 15px;
    color:#6e6e6e;
}

.navbar .btn-navbar {
    margin-top: 0;
    position: absolute;
    right: 15px;
    left:auto;
    top:145px;
}

.navbar .btn-navbar:hover {
    color:#af0001;
}
#site-heading-parent a {
    color: #333;
}

#site-heading-parent a:hover {text-decoration:none;}

#site-heading, #site-heading-parent {
    font-size: 20px;
}
@media (min-width: 768px){
    #site-heading, #site-heading-parent {
        top: 62px;
        left: 240px;
        position: absolute;
    }
    #site-heading-parent {top:32px;}
}
@media (min-width: 992px) {
    #site-heading, #site-heading-parent {
        top: 50px;
        font-size: 30px;
    }

    #site-heading-parent {top:20px;font-weight:300;}

}


@media (min-width: 768px) {

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    #header-bg {
        height:170px;
    }


    #search-stack {
        right:-6px;
        top:25px;
    }

    #opener .brand {
        background: url("/_resources/img/logo-on-red.png") no-repeat 0 0;
        display: block;
        width: 195px;
        height: 192px;
        position: absolute;
        top: 0px;
        box-shadow: 0 0 10px rgba(0,0,0,.8);
        padding: 0;
        margin-left: 10px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        z-index: 20;
    }

    #opener .brand:before {
        display: none;
    }
}

@media (min-width: 992px) {
    #site-heading {
        top:50px;
        font-size: 30px;
    }
    #sidebar {
        margin-top: 25px;
    }
}


/* MAIN NAV
-------------------------------------------------- */

.navbar {
    z-index: 9;
    background-color: #fff;
    -webkit-box-shadow: 0 0px 7px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0px 7px rgba(0,0,0,.3);
    box-shadow: 0 0px 7px rgba(0,0,0,.3);
    border-radius: 0;
    min-height: 57px;
    max-height: 57px;
    margin-bottom: 0;
}

.navbar-default
{
    border: none;
}

.navbar .btn-navbar {
    color:#666;
    text-shadow:none;
}


/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}

.navbar .dropdown i {
    font-size:18px;
}

.navbar-collapse {
    background-color: #fff;
    top: 0px;
    text-align: center;
    z-index: 30;
}

#mainnav {
    margin-left:auto;
    margin-top:auto;
    overflow: visible;
    height: auto;
}

#mainnav > li > a {
    font-size: 14px;
    display: block;
    color: #34332f;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 5px solid #fff;
    text-decoration: none;
    margin-top: 15px;
}


#mainnav > li:last-child a {
    padding-right: 15px;
}

#mainnav > li > a:hover, #mainnav > li > a:focus {
    border-top-color:#fff;
    color:#af0001;
}


/* Dropdown */

#mainnav ul {
    list-style: none outside;
    text-align: left;
    margin:0;
    padding:0;
    background-color: rgba(47,47,47,.95);
    color: rgba(47,47,47,.95);
    border-right: 1px solid #5f5f5f;
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: visibility 0.5s ease-out 0.5s, opacity 0.5s ease;
    -moz-transition: visibility 0.5s ease-out 0.5s, opacity 0.5s ease;
    -ms-transition: visibility 0.5s ease-out 0.5s, opacity 0.5s ease;
    -o-transition: visibility 0.5s ease-out 0.5s, opacity 0.5s ease;
    transition: visibility 0.5s ease-out 0.5s, opacity 0.5s ease;
    overflow: hidden;
    z-index:10;
    width:0;
}

#mainnav ul.last {
    border-right: none;
}


@media (min-width: 768px) {
    .navbar {
        margin-top:71px;
    }

    .navbar-collapse, .navbar-collapse.collapse {
        background-color: #fff;
        top:48px;
        /*margin-bottom: 50px;*/
    }

    #mainnav {
        float: left;
        margin-left: 202px;
        margin-right: 0px;
        margin-top: 0px;
        height: 57px;
        clear: both;
    }

    #mainnav ul {
        visibility: hidden;
        width: 0px;
    }

    #mainnav > li {
        line-height: 52px;
        float: left;
        position: relative;
    }

    #mainnav > li > a {
        font-size: 12px;
        font-weight: 400;
        padding: 0 5px;
        margin-top: 0;
        /*border-top: 5px solid #fff;*/
        line-height: 52px;
    }

    #mainnav > li > a.current,
    #mainnav > li > a:hover,
    #mainnav > li > a:focus {
        border-color: #af0001;
    }

    .navbar .btn-navbar {
        position: relative;
        left: 45%;
    }

    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus {
        color: #af0001;
    }
}


@media (min-width: 992px) {
    #mainnav ul {
        width: 118px;
    }
    #mainnav > li > a {
        padding: 0 6px;
        font-size: 16px;
    }
    #mainnav:hover ul {
        visibility: visible;
        opacity: 1;
        height: auto;
        min-height: 290px;
        transition-delay: 0s;
    }
    #mainnav ul > li > a {
        display: block;
        color: #fff;
        text-decoration: none;
        text-shadow: none;
        font-size: 14px;
        font-weight: 300;
        padding: 6px 8px;
        line-height: 1.55;
    }

    #mainnav ul > li > a:hover {
        background-color: #707070;
    }

    #mainnav > li:hover > ul {
        background-color: #454545;
    }
}


@media (min-width: 1200px) {
    #mainnav ul {
        width:150px;
    }
    .navbar .nav > li > a {
        padding:0 8px;
        font-size: 18px;
        text-align: center;
    }
    .navbar .nav > li {
        line-height: 53px;
    }
}


/* Common Sections
-------------------------------------------------- */

#content {
    margin-top:30px;
}

#content.opener {
    margin-top:0;
}

video {
    width: 100% !important;
    height: auto !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: #fff;
    clear: both;
}

section .col-md-12 {
    position: relative;
}

section h2 + .quick-links {
    margin-bottom: 0;
}

section .quick-links {
    position: static;
    text-align: center;
    margin-top:-15px;
    margin-bottom: 25px;
}

section .quick-links ul {
    list-style: none;
}


@media (min-width: 768px) {
    section .quick-links {
        position: absolute;
        right:3%;
        top:5px;
        text-align: left;
    }

    section.gray .quick-links {
        top:-20px;
    }
}

section.gray {
    position:relative;
    overflow:hidden;
    background-color: #f2f2f4;
    padding-top:30px;
    padding-bottom:20px;
    margin-top:15px;
    margin-bottom: 0;
}

section.gray > .container > .row:first-child:before, section.gray > .container > .row:first-child:after,
section.gray:before, section.gray:after
{
    pointer-events: none;
    position: absolute;
    content: "";
    left: 2px;
    height: 10px;
    width: 100%;
    top: -23px;
    /*max-width:1300px;*/
    background: #a1a1a1;
    -webkit-box-shadow: 0 8px 11px #a1a1a1;
    -moz-box-shadow: 0 8px 11px #a1a1a1;
    box-shadow: 0 8px 11px #a1a1a1;
    -webkit-transform: rotate(-.8deg);
    -moz-transform: rotate(-.8deg);
    -o-transform: rotate(-.8deg);
    -ms-transform: rotate(-.8deg);
    transform: rotate(-.8deg);
}

section.gray > .container > .row:first-child:after, section.gray:before
{
    -webkit-transform: rotate(.8deg);
    -moz-transform: rotate(.8deg);
    -o-transform: rotate(.8deg);
    -ms-transform: rotate(.8deg);
    transform: rotate(.8deg);
    right: 2px;
}


section.gray:before, section.gray:after
{
    left: 4px;
    top: auto;
    bottom: -21px;
    background: #A7A7A7;
    -webkit-box-shadow: 0 -5px 11px #a1a1a1;
    -moz-box-shadow: 0 -5px 11px #a1a1a1;
    box-shadow: 0 -5px 11px #a1a1a1;
}

section.gray:after
{
    right: 4px;
    left: auto;
}


section.landingPage {padding-top:0;}

section.landingPage h1, section h2 {
    color:#5c5c5c;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    display: table;
    white-space: nowrap;
}

section.landingPage h1:before,
section.landingPage h1:after,
section h2:before,
section h2:after {
    content: "";
    display: table-cell;
    width: 48%;
    background-size: 82% 2px;
    background: url(data:image/gif;base64,R0lGODdhAQABAIgAAEqMMQAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fefefe));
    background: -webkit-linear-gradient(#ccc, #fefefe) no-repeat center;
    background: -moz-linear-gradient(#ccc, #fefefe) no-repeat center / 82% 2px;
    background: -o-linear-gradient(#ccc, #fefefe no-repeat center);
    background: linear-gradient(#ccc, #fefefe) no-repeat center / 82% 2px;
}

section div.col-sm-3 h3 {
    color:#2f3332;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.4em;
}

section h4 {
    color: #620010;
    font-weight: 400;
}

section.landingPage h1 + p {
    line-height: 120%;
    font-size: 18px;
    font-weight: lighter;
}

section.landingPage > div > img {
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

section ul.tags {
    list-style: none;
    margin:0;
    font-size: 12px;
}

section ul.tags li a{
    color:#5c5c5c;
}

section .split-list h4 {
    margin-top:2px;
}

section .split-narrow {
    width:82px;
    margin-right:9px;
}

section .split-wide {
    margin-left: 101px;
}

section .split-wide h4:first-child {
    margin-top:0;
}

section .nav>li>a {
    padding: 5px 10px;
}

@media (min-width: 768px) {
    section.landingPage h1 + p {
        line-height: 150%;
        font-size: 22px;
        font-weight: lighter;
    }

    section.landingPage h1, section h2 {
        color:#5c5c5c;
        text-transform: uppercase;
        text-align: center;
        font-size: 36px;
        margin-bottom: 25px;
        display: table;
        white-space: nowrap;
    }
}


/* UTILITY CLASSES
-------------------------------------------------- */

.split-alt-narrow {
    width: 120px;
    float: left;
    margin-right:9px;
}

.split-alt-narrow h4 {
    font-size: 18px;
    line-height: 1em;
    margin:4px 0 0 0;
}

.split-alt-wide img {
    margin-bottom: 10px;
}

.red-rect {
    width:104px;
}

.red-date {
    text-align: center;
    width:80px;
    min-height:60px;
    font-size:18px;
    vertical-align: middle;
}

.red-date h4 {
    text-transform: uppercase;
}

.red-shadow {
    background-color:#8e0018;
    box-shadow: inset 0px 0px 20px #222;
    padding:8px 13px;
}

.red-shadow h4 {
    color:#fff;
    font-size: 14px;

    font-weight: 600;
}
.red-shadow h4 small {
    font-size:14px;
    color:#fff;
    font-weight: 300;
    text-transform: lowercase;
}

.red-shadow h4 strong {
    font-size:25px;
    font-weight: 300;
}

.shadow-bottom, .shadow-bottom-inner {
    position:relative;
    overflow:hidden;
    padding-bottom:20px;
}

.shadow-bottom-inner {
    padding-bottom:0;
}

.shadow-bottom:after, .shadow-bottom-inner:after {
    content: "";
    position:absolute;
    z-index: -1;
    width:95%;
    bottom: 20px;
    height: 10px;
    left: 3%;
    border-radius: 100px / 5px;
    box-shadow:0 0 18px rgba(0,0,0,0.8);
}

.shadow-bottom-inner:after {
    bottom: -5px;
    height: 5px;
    box-shadow:0 0 10px rgba(0,0,0,0.9);
}

.shadow-top {
    position:relative;
    overflow:hidden;
    border-top:1px solid #ddd;
    padding-top:20px;
}

.shadow-top:before {
    content: "";
    position:absolute;
    z-index: 1;
    width:96%;
    top: -10px;
    height: 10px;
    left: 2%;
    border-radius: 100px / 5px;
    box-shadow:0 0 18px rgba(0,0,0,0.6);
}



/*  NIVO  */

.nivo-caption {
    background-color:#000;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
}

.nivo-caption h3, .nivo-caption p {
    background-color:transparent;
    padding:8px 0 0 0;
    margin:0;
    line-height: 1em;
    display: inline-block;
    color:#fff;
    width: auto;
}

.nivo-caption h3 {
    text-transform: uppercase;
    font-size: 15px;

}

.nivo-caption p {
    display: none;
}

@media (min-width: 768px) {
    .nivo-caption {
        background-color: rgba(0,0,0,.7);
    }
    .nivo-caption h3 {
        background-color:rgba(102,13,27,.9);
        padding:10px 15px;
        margin-bottom: 4px;
        min-width: 100px;
        max-width: 640px;
        font-size: 18px;
    }
    .nivo-caption p {
        display: inline-block;
        padding:6px 15px;
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    .nivo-caption {
        background-color:transparent;
        -moz-opacity: 0.8;
        filter:alpha(opacity=8);
    }

    .nivo-caption h3 {
        font-size: 28px;
    }

    .nivo-caption p {
        background-color:rgba(0,0,0,.7);
        font-size: 18px;
        display:block;
    }
}



/* SIDEBAR
-----------------------------------------*/

#sidebar ul {
    padding-left: 0;
}

#sidebar .navbar-collapse {
    text-align: left;
    max-height: none;
    padding-left: 0;
    background-color: #fff;
}

#sidebar .sidenav ul > li > ul > li a{
    padding-left:20px;
}

#sidebar .sidenav li a {
    color:#666;
    border-bottom: 1px solid #d9d9d9;
    padding-top:5px;
    padding-bottom: 0px;
    padding-left:5px;
}

#sidebar .sidenav li a.current {
    color:#8F0018;
}

#sidebar .sidenav li a.current:after {
    content: "\f107";
    font-family: FontAwesome;
    position: relative;
    right:5px;
    top:0px;
    float: right;
}

#sidebar .sidenav li.active li a.current:after {
    content: "\f105";
}

#sidebar .sidenav ul > li > ul li a {
    border-bottom: none;
    padding-top:2px;
    padding-bottom: 2px;
}

#sidebar .nav {
    margin-bottom: 0;
}

#sidebar-links {
    margin-top: 20px;
}

#sidebar-links li{
    padding-bottom: 10px;
}

#sidebar-links > li > a {
    color:#333;
    border-bottom: none;
}

#sidebar-links li a:hover {
    color:#8F0018;
}


/* Section Footer */

#section-footer {
    padding-top:10px;
    padding-bottom:10px;
}

#section-footer .nav {
    margin-bottom: 0;
}

#section-footer .nav-pills > li > a{
    padding-right: 10px;
    padding-left: 10px;
}


/* FOOTER
-----------------------------------------*/

footer {
    background-color: #424242;
    color:#fff;
    font-weight: 300;
    padding-bottom: 15px;
}

footer .footer-buttons .btn-large {
    display: block;
    max-width: 220px;
}

footer h4 {
    margin-top:2em;
}

footer address a:link {
    color:#fff;
}

#footer-logo {
    margin-top:1em;
    margin-bottom: 10px;
}

.vertical-divide {
    margin:0;
}

.vertical-divide a:link, .vertical-divide a, .vertical-divide a:focus {
    color:#fff;
}

#footer-global-links li {
    float: none;
    display: inline-block;
    margin-right: 1em;
}

#footer-logo a {
    color:#fff;
}

#footer-global-links {
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    margin:0;
}

#footer-global-links li {
    float: left;
    margin-right: 2em;
}

#footer-global-links li a {
    color:#fff;
}

#footer-global-links li a:hover,
footer .nav > li > a:hover {
    text-decoration: none;
    color:#222;
    color:#C68383;
    color:#7A3939;
    color:#EDD0D0;
    color:#fff;
    text-decoration: underline;
    background: none;
}

footer a:hover  i {
    text-decoration: none;
}

footer .nav a, footer h3, footer h4 {
    color:#fff;
}


footer h4 {
    margin-top:0;
}

footer hr {
    box-shadow:0 0 2px rgba(220,220,220,.2);
    border-top: 1px solid #333;
    border-bottom: none;
    clear: both;
}

footer address {
    margin-bottom: 10px;
}

footer a, footer a:link, footer a:visited {
    color: #fff;
}

footer .footer-events ul,
footer .footer-news ul {
    list-style: none;
    margin-left:0;
    padding-left: 0;
}

footer .footer-events ul li,
footer .footer-news ul li{
    margin-bottom: 1em;
}

footer .footer-events ul li a,
footer .footer-news ul li a {
    color:#fff;
}

footer .footer-buttons a:visited,  footer .footer-buttons a:link {
    color:#333;
}

footer .footer-buttons .btn {
    border-radius: 0;
    margin-bottom: 10px;
    display: block;
    width:100%;
    text-align: left;
}

footer .footer-buttons .btn:hover strong,
footer .footer-buttons .btn:hover i {
    color:#AF0001;
}

footer .icon-map-marker {
    margin-bottom: 5px;
    font-size: 22px;
}

footer .centered-nav {
    text-align: center;
}
footer .centered-nav li {
    display: inline;
    padding:5px 10px;
}

footer .centered-nav li a:hover {
    color:#fff;
}

footer .vertical-divide li a:after {
    content: "";
    border-right:1px solid #6e6e6e;
    font-size: 15px;
    color:#6e6e6e;
    position: relative;
    left:12px;
    text-decoration: none;
}

footer .vertical-divide li:last-child a:after {
    content: "";
    border-right:none;
}

footer #social-stack {
    margin-right:0;
    margin-bottom:20px;
}
footer #social-stack li {
    display: inline-block;
    margin-left:15px;
    padding:0;
}

footer #social-stack li a{
    font-size: 22px;
    padding:0;
}

footer #social-stack li i:hover {
    text-shadow:0 0 4px #fff;
}

@media (min-width: 768px){
    .btn-lg {font-size:12px;}
}

@media (min-width: 992px){
    .btn-lg {font-size:18px;}
}


/* OmniUpdate Styles for Preview */

.ox-regioneditbutton img{
    z-index: 100;
    margin-top:30px;
}

@media print {
    .navbar, .navbar-wrapper, #sidebar, .breadcrumb, #section-footer, #prefooter, footer, #header-bg {
        display: none;
    }
    #main-content {
        margin-top:30px;
    }
    section > img {
        max-width: 20%;
        float:left;
        margin-right:25px;
    }
}
