/* Customize container */
 @media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
background-image: url(http://placekitten.com/1800/1200);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
